APP_NAME=GeoInventario API
APP_ENV=development
API_V1_PREFIX=/api/v1
SECRET_KEY=change-me
ACCESS_TOKEN_EXPIRE_MINUTES=60
DATABASE_URL=sqlite:///./geoinventario.db
BACKEND_CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
FIRST_SUPERUSER_EMAIL=admin@geoinventario.local
FIRST_SUPERUSER_NAME=Administrador
FIRST_SUPERUSER_PASSWORD=admin123
